[Desktop Entry]
Name=Purple KRunner
Comment=Purple Buddies KRunner Plugin
X-KDE-ServiceTypes=Plasma/Runner
Type=Service
Icon=internet-web-browser
X-KDE-PluginInfo-Author=Florin Stancu
X-KDE-PluginInfo-Email=niflostancu@gmail.com
X-KDE-PluginInfo-Name=purple-krunner
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-API=DBus
X-Plasma-DBusRunner-Service=ro.niflo.purple_krunner
X-Plasma-DBusRunner-Path=/purple_search

