# Udev rules for embedded devices

# USBtinyISP Programmer rules
SUBSYSTEMS=="usb", ATTRS{idVendor}=="1781", ATTRS{idProduct}=="0c9f", GROUP="users", MODE="0666"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="16c0", ATTRS{idProduct}=="0479", GROUP="users", MODE="0666"

# USBasp Programmer rules http://www.fischl.de/usbasp/
SUBSYSTEMS=="usb", ATTRS{idVendor}=="16c0", ATTRS{idProduct}=="05dc", GROUP="users", MODE="0666"

# Mdfly.com Generic (SiLabs CP2102) 3.3v/5v USB VComm adapter
SUBSYSTEMS=="usb", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", GROUP="users", MODE="0666"

# Atmel AVR Dragon (dragon_isp) rules
SUBSYSTEM=="usb", ATTRS{idVendor}=="03eb", ATTRS{idProduct}=="2107", GROUP="users", MODE="0666"

# Atmel AVR JTAGICEMKII rules
SUBSYSTEM=="usb", ATTRS{idVendor}=="03eb", ATTRS{idProduct}=="2103", GROUP="users", MODE="0666"

# Atmel Corp. AVR ISP mkII
SUBSYSTEM=="usb", ATTRS{idVendor}=="03eb", ATTRS{idProduct}=="2104", GROUP="users", MODE="0666"

# FTDI Serial to USB
ATTRS{idVendor}=="067b", ATTRS{idProduct}=="2303", MODE="0666", GROUP="users"
ATTRS{idVendor}=="0403", MODE="0666", GROUP="users"

# STMicroelectronics
ATTRS{idVendor}=="0483", MODE="0666", GROUP="users"

# STM32 DFU
ATTRS{idVendor}=="0483", ATTRS{idProduct}=="df11", MODE="0666", GROUP="users"

# Atmel
ATTRS{idVendor}=="03eb", MODE="0666", GROUP="users"

# Segger
ATTRS{idVendor}=="1366", MODE="0666", GROUP="users"

# Chinese Logic Analyzer
ATTRS{idVendor}=="77a1", MODE="0666", GROUP="users"

# USB Test Devices
ATTRS{idVendor}=="1209", MODE="0666", GROUP="users"

